// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// since these styles are specific to projects alone,
// we put it into this file

#projects {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}
